/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Roboto","Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #000;
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.button{
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
}

/* CONTAINER  */
.container{
  width: 100%;
  max-width: 1380px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.big-container{
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN CONTENT  */
.main-content{
  flex-grow: 1;
}

/* SITE-TOP */
.site-top {
  margin-bottom: 20px;
  /* background-image: url("../img/hero-bg@2x.svg"); */
  background-color:rgba(243, 215, 183, 1);


}
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo-link{
  display: flex;
}
.site-logo {
  width: 235px;
  height: 24px;
}
.site-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-nav-item:not(:last-child) {
  margin-right: 40px;
}
.site-nav-item-link {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}
.hero {
  background-image: url("../img/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left calc(50% + 365px) center;
}
.hero-content {
  padding: 116px 50px 250px 100px;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 34px;
  width: 464px;

}
.hero-button {
  background-color: #0A775F;
  color: #fff;
}

/* OUR-COLLECTION  */
.our-collection {
  margin-bottom: 20px;
}
.our-collection-box {
  display: flex;
  justify-content: center;
  background-color: rgba(248, 248, 242, 1);
  /* background-image: url("../img/our-collection-bg.svg"); */
}
.our-collection-items {
  width: 100%;
  max-width: 1114px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.our-collection-heading{
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
}
.our-collection-item {
  display: flex;
  align-items: center;
  text-align: left;
}
.our-collection-item-img{
  width: 450px;
  height: 375px;
}
.our-collection-item-img:not(:last-child) {
  margin-right: 117px;
}
.our-collection-item-img:last-child{
  margin-left: 117px;
}
.our-collection-item-content:not(:last-child) {
  padding-left: 157px;
}
.our-collection-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #333;
  text-transform: uppercase;
}
.our-collection-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
  color: #333;
}

/* FEATURES  */
.features {
  text-align: center;
}
.features-container {
  padding-top: 50px;
  height: 703px;
  background-color: #C99B67;
}
.features-theme {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.features-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  color: #fff;
}
.features-theme-text {
  margin-top: 0;
  margin-bottom: 80px;
  width: 581px;
  line-height: 28px;
  opacity: 0.8;
}
.features-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -210px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
}
.features-item {
  width: 433px;
}
.features-item:not(:last-child){
  margin-right: 20px;
}
.features-item-img {
  display: block;
  width: 433px;
  height: 500px;
  margin-bottom: 28px;
}
.features-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #333;
  text-transform: uppercase;
}
.features-item-text {
  font-size: 18px;
  line-height: 28px;
  color: #333;
}

/* HOW WORKS  */
.how-works {
  margin-top: 290px;
}
.how-works-container {
  padding: 54px 30px 46px 30px;
  background-color: #0A775F;
  text-align: center;
}
.how-works-heading {
  margin-top: 0;
  margin-bottom: 160px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #fff;
  text-transform: uppercase;
}
.how-works-box {
  display: flex;
  margin-bottom: 60px;
  text-align: left;
}
.how-works-card {
  width: 433px;
  padding: 20px 20px 40px 20px;
  background-color: #fff;
}
.how-works-card:not(:last-child){
  margin-right: 20px;
}
.card-number {
  margin-bottom: 45px;
  font-size: 64px;
  line-height: 75px;
  color: #333;
  opacity: 0.8;
  text-align: right;
}
.how-works-box-heading{
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #333;
}
.how-works-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 28px;
  color: #333;
}
.how-works-button-box {
  display: flex;
  justify-content: center;
}
.how-works-button {
  background-color: #C99B67;
  color: #fff;
}
