/* CUSTOM PROPERTY */
:root{
  --text-color: #333;
  --brand-color: #0a775f;
  --text-color2: #fff;
}
/* FONTS */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-500.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-700.woff') format('woff');
  font-display: swap;
}
/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Roboto","Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--text-color2);
  color: #000;
  overflow-x: hidden;
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
*:focus{
  outline: 2px dashed var(--brand-color);
  outline-offset: 3px;
}
.button{
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s ease opacity;
  white-space: nowrap;
}
.button:hover{
  opacity: 0.8;
}
.button:active{
  opacity: 0.6;
}


/* CONTAINER  */
.container{
  width: 100%;
  max-width: 1380px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.big-container{
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER AND HERO */
.header-and-hero{
  margin-bottom: 20px;
  background-color: #F3D7B7;
  background-image: url("../img/header-and-hero-bg.jpg");
}

/* MAIN CONTENT  */
.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo-link{
  display: flex;
  flex-shrink: 0;
  transition: 0.4s ease opacity;
}
.site-logo-link:hover{
  opacity: 0.8;
}
.site-logo-link:active{
  opacity: 0.6;
}
.site-logo {
  width: 235px;
  height: 24px;
}
.site-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-nav-item:not(:last-child) {
  margin-right: 40px;
}
.site-nav-item-link {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s ease opacity, 0.4s ease color;
  color: var(--text-color);
  white-space:nowrap;
}
.site-nav-item-link:hover{
  color: var(--brand-color);
}
.site-nav-item-link:active{
  opacity: 0.8;
}

/* HERO */
.hero-container {
  display: flex;
}
.hero-content {
  position: relative;
  padding: 116px 116px 250px 100px;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 34px;
  width: 464px;

}
.hero-button {
  background-color: var(--brand-color);
  color: var(--text-color2);
}
.hero-logo{
  position: absolute;
  border-radius: 50%;
  top: -80px;
  right: -80px;
  transform: rotate(-15deg);
}
.hero-img{
  display: block;
}

/* OUR-COLLECTION  */
.our-collection {
  margin-bottom: 20px;
}
.our-collection-left-1 {
  position: absolute;
  top: 60px;
  left: -128px;
  width: 402px;
  height: 300px;
  transform: rotate(-10deg);
}
.our-collection-left-2 {
  position: absolute;
  left: -200px;
  bottom: 190px;
  transform: rotate(-7deg);
}
.our-collection-right-top{
  transform: matrix(0.92, -0.39, 0.39, 0.92, 0, 0);
  position: absolute;
  bottom: 563px;
  right: -220px;
}
.our-collection-right-bottom{
  position: absolute;
  bottom: 620px;
  right: -165px;
}
.our-collection-box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(248, 248, 242, 1);
  background-image: url("../img/our-collection-bg.jpg");
}
.our-collection-items {
  width: 100%;
  max-width: 1114px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.our-collection-heading{
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
}
.our-collection-item {
  display: flex;
  align-items: center;
  text-align: left;
}
.our-collection-item:nth-child(even){
  flex-direction: row-reverse;
}
.our-collection-item-img{
  width: 450px;
  height: 375px;
}
.our-collection-item-img:not(:last-child) {
  margin-right: 117px;
}
.our-collection-item-img:last-child{
  margin-left: 117px;
}
.our-collection-item-content:not(:last-child) {
  padding-left: 157px;
}
.our-collection-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: var(--text-color);
  text-transform: uppercase;
}
.our-collection-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
  color: var(--text-color);
}

/* FEATURES  */
.features-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/features-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 703px;
}
.features-logo{
  position: absolute;
  top: 239px;
  left: -13px;
}
.features-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color2);
}
.features-theme-text {
  margin-top: 0;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  width: 581px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color2);
  opacity: 0.8;
}
.features-items {
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  padding-left: 30px;
}
.features-item {
  width: calc(100% / 3 - 20px);
  margin-bottom: 30px;
}
.features-item:not(:last-child){
  margin-right: 20px;
}
.features-item-img {
  display: block;
  width: 433px;
  height: 500px;
  margin-bottom: 28px;
}
.features-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--text-color);
  text-transform: uppercase;
}
.features-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

/* HOW WORKS  */
.how-works-container {
  position: relative;
  padding: 54px 30px 46px 30px;
  background-color: var(--brand-color);
  --brand-color: #F3D7B7;
  background-image: url("../img/how-works-bg.jpg");
}
.how-works-logo{
  position: absolute;
  top: 42px;
  right: 68px;
}

.how-works-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: var(--text-color2);
  text-transform: uppercase;
  text-align: center;
}
.how-works-box {
  display: flex;
  margin-bottom: 60px;
  counter-reset: calculator;
}
.how-works-card {
  position: relative;
  display: flex;
  flex-direction: column;
  counter-increment: calculator;
}

.how-works-card:not(:last-child):after{
  position: absolute;
  z-index: 1;
  top: 30px;
  content: " ";
  height: 3px;
  width: 450px;
  border-top:3px dashed #C99B67;
}
.how-works-card::before{
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  content:" ";
  width: 60px;
  height: 60px;
  background-color: #F8F8F2;
  border: 4px solid #C99B67;
}
.how-works-card:not(:last-child){
  margin-right: 20px;
}
.how-works-card-inner{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 433px;
  padding: 20px 20px 40px 20px;
  background-color:#F8F8F2;
}
.how-works-card-inner::before{
  content: "0"counter(calculator);
  align-self: flex-end;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: var(--text-color);
  opacity: 0.8;
}

.how-works-box-heading{
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color);
}
.how-works-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 28px;
  color: var(--text-color);
}
.how-works-button-box {
  display: flex;
  justify-content: center;
}
.how-works-button {
  background-color: #C99B67;
  color: var(--text-color2);
}

/* FOOTER */
.site-footer{
  margin-top: 50px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color:#F3D7B7;
  background-image: url("../img/footer-bg.jpg");
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav-item-link{
  font-size: 16px;
}
.social-media-box {
  display: flex;
  align-items: center;
}
.social-media-item:not(:last-child) {
  margin-right: 30px;
}
.social-media-item-link {
  display: flex;
  transition: 0.4s ease opacity, 0.4s ease color;
}
.social-media-item-img {
  color: var(--text-color);
}
.social-media-item-link:hover .social-media-item-img{
  color: var(--brand-color);
}
.social-media-item-link:active{
  opacity: 0.8;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .header-and-hero{
    background-image: url("../img/header-and-hero-bg@2x.jpg");
  }
  .features-container{
    background-image: url("../img/features-bg@2x.jpg");
  }
  .our-collection-box{
    background-image: url("../img/our-collection-bg@2x.jpg");
  }
  .how-works-container{
    background-image: url("../img/how-works-bg@2x.jpg");
  }
  .site-footer{
    background-image: url("../img/footer-bg@2x.jpg");
  }

}